<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty Web App</title>
</head>
<body>

<header>

    <menu>
        <item>
            <a href="./character/">Personagens</a>
        </item>
        <item>Locais</item>
        <item>Episódios</item>
    </menu>

</header>

<div>

    <h1>Rick and Morty Web App</h1>

    <p>Bem vindo ao projeto didático para desenvolvimento
        de aplicações web utilizando o framework flask junto
        a ferramento ORM SQLAlchemy.
    </p>

</div>


<footer>
    <p>{{ now }}</p>
</footer>

</body>
</html>